#Работа со строками

1. Создайте две переменные типа str, содержащие ваше имя и фамилию. Объедините их в одну строку с помощью оператора + и выведите результат.

In [1]:
name = "Artyom"
subname = "Sinitsyn"

print(name + subname)

ArtyomSinitsyn

2. Создайте переменную типа str, содержащую произвольную фразу. Используя методы строк, преобразуйте все буквы в верхний регистр и выведите результат.

In [3]:
phrase = "Code_Future_Python_Devops"

print(phrase.upper())

CODE_FUTURE_PYTHON_DEVOPS

3. Создайте переменную типа str, содержащую произвольный email-адрес. Используя методы строк, извлеките из него имя пользователя и доменное имя и выведите результат.

In [25]:
import re

email = "zqwymusic@vk.com"
#print(re.findall(r"[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}", mail))

seq = (re.findall(r"[a-zA-Z0-9._%+-]+", email))

print("Имя пользователя:", seq[0], "\nДоменное имя:", seq[1])

Имя пользователя: zqwymusic
Доменное имя: vk.com

#Встроенные функции

1. Создайте список чисел от 1 до 10 с помощью функции range(). Используя функцию sum(), вычислите сумму всех чисел в списке.

In [27]:
print(sum(range(1, 11)))

55

2. Создайте список чисел от 1 до 10 с помощью функции range(). Используя функцию filter(), отфильтруйте все нечетные числа и выведите результат.

In [56]:
numbers = list(range(1,10))

def filter_odd_num(in_num):
    if(in_num % 2) == 0:
        return True
    else:
        return False

print(list(filter(filter_odd_num, numbers)))

[2, 4, 6, 8]

3. Создайте список чисел от 1 до 10 с помощью функции range(). Используя функцию map(), увеличьте каждое число на 10 и выведите результат.

In [70]:
numbers = list(range(1,10))

def plus_ten(i):
    i += 10
    return i 

print(list(map(plus_ten, numbers)))

[11, 12, 13, 14, 15, 16, 17, 18, 19]

#Регулярные выражения

1. Создайте переменную типа str, содержащую произвольный текст. Используя регулярное выражение, найдите все слова, начинающиеся с буквы "a" и выведите результат.

In [221]:
import re

text = "art object Artyom war abrams, artist, aoe, aio, allo, hallo, hello, hi, aba, baby"

print(re.findall(r"\b([a]\w*)", text))

['art', 'abrams', 'artist', 'aoe', 'aio', 'allo', 'aba']

2. Создайте переменную типа str, содержащую произвольный email-адрес. Используя регулярное выражение, проверьте, что email-адрес соответствует стандарту и выведите результат.

In [42]:
import re

email = "zqwymusic@vk.com"
pattern = r"^[-\w\.]+@([-\w]+\.)+[-\w]{2,4}$"

if re.match(pattern, email) is not None:
    print(email)

zqwymusic@vk.com

3. Создайте переменную типа str, содержащую произвольный текст. Используя регулярное выражение, замените все цифры в тексте на знак "-".

In [44]:
import re

text = "Code1Future2Python3Devops D1E2V3I4L"

print (re.sub(r"[0-9]", '-', text))

Code-Future-Python-Devops D-E-V-I-L